/* .card {
  padding: 10px;
  width: 260px;
  height: 1250px;
  border: 1px solid #130808;
  border-radius: 10px;
  background-color: aqua;
  margin: 10px;
  img {
    width: 100%;
    object-fit: cover;
  }
} */
.card {
  background-color: #d89999;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 300px;
  margin: 10px;
}
