#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: blue;
  color: #fff;
}

.routes {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  margin: 0px 8px;
  font-weight: bold;
  color: #fff;
}
a:hover,
a.active {
  color: aqua;
}
